header{
    display: flex;
    justify-content: space-between;
    padding: 0 60px;
    box-shadow: rgb(0 0 0 / 8%) 0 1px 0;
    height: 80px;
    align-items: center;
}

button{
    background-color: transparent;/*배경색 없음*/
    border: none;
}

#logo{
    cursor: pointer;
    height: 48px;
}

#little-search{
    height: 42px;
    display: flex;
    align-items: center;
    border: 1px solid #DDDDDD;
    border-radius: 40px;
    padding: 0 8px;
}

.little-search_button{
display: flex;
align-items: center;
padding : 0 16px;
white-space: nowrap;/*줄넘김 안됨*/
height: 48px;
}
.little-search_button.bold{
    font-weight: bold;
}
#magnifying-glass-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background-color: #ff385c;
    border-radius: 50%;
} 

#magnifying-glass-icon{
    width: 12px;
}

.divider{
    flex-basis: 1px;
    background-color: #DDDDDD;
    height: 24px;
}

#do-airbnb{
    font-weight: bold;
}
#do-airbnb:hover{
    background-color:  #f7f7f7;
}
#header-right-section{
    display: flex;
    justify-content: center;
    align-items: center;
}

#profile-section{
    display: flex;
    gap: 10px;
    padding: 5px 5px 5px 12px;
    border: solid 1px #DDDDDD;
    border-radius: 21px;
    margin-left: 16px;
}

#category-bar{
    overflow: auto;
    display: flex;
    gap : 32px;
    padding : 0 60px;
    padding-top: 10px;
}

#category-bar::-webkit-scrollbar{
    display: none;
}

.category-item{
    font-size: 12px;
    font-weight: 600;
    color : #717171;
    cursor: pointer;
}

.active-img{
    display: none;
}

.category-item:hover{
    color: black;
    border-bottom: 2px solid #DDDDDD;
}

.category-item .active-img{
    display: none;
}
.category-item:hover .active-img{
    display: inline-block;
}

.category-item:hover .unactive-img{
    display: none;
}
.category-item img{
    width: 28px;
}

#active-category{
    color: black;
    border-bottom: 2px solid #DDDDDD;
}
#active-category .active-img{
    display: inline-block;
}
#active-category .unactive-img{
    display: none;
}

#grid{
    display: grid;
    grid-template-rows: 30PX 50px;
    grid-template-columns: 50px 30px;
    gap : 0 10px;
}
#grid div{
    background-color: aqua;
}

#grid div:first-child{
    background-color: yellowgreen;
    grid-row-start: 1;
    grid-row-end: 3;
}

.place-img-wrapper{
    width: 308px;
    height: 293px;
    overflow: hidden;
    border-radius: 12px;
    position: relative;
}

.place-img-wrapper .palce-img{
    width: 308px;
    height: 293px;
    object-fit: cover;
}

.place-img-wrapper .heart-icon{
    width: 24px;
    top:16px;
    right: 16px;
    position:absolute;
    cursor: pointer;
}

.heart-icon:active{
    transform: scale(0.5);
    transition: transform 0.25s ease;
}

.discription-section{
    display: flex;
    flex-direction: column;
    gap : 2px;
    margin-top: 14px;
}

.discription-section .title{
    font-size : 15px;
    font-weight: 600;
    color : #343434
}

main{
    padding : 20px 60px;
    display: flex;
    justify-content: center ;
    align-items: center;
}

#main-grid{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 308px);
    gap : 20px;
}

#floating-map-button{
    display: flex;
    align-items: center;
    padding : 14px 19px;
    background-color: #222222;
    position: fixed;
    border-radius: 24px;
    bottom :125px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 14px;
    font-weight: 600;
    gap : 8px;
}

#floating-map-button:hover{
    box-shadow: 0 0 0 1px transparent, 0 0 0 4px transparent;
    transform: translateX(-50%) scale(1.04);
}